---
layout: post
title: "Bachelor's degree - Université de Montréal"
title_fr:  "Baccalauréat - Université de Montréal"
image: "/assets/images/logos/logo-udem.jpeg"
imageAlt: "Université de Montréal"
datePost: "2021-09-01;2024-08-31"
excerpt_separator: <!--more-->
socialActivate: true
---
{% if site.active_lang == "fr" %}
<div class="resume">
    2021-2024<br>
    Baccalauréat en mathématiques et informatique
</div>
{% else %}
<div class="resume">
    2021-2024<br>
    Bachelor's degree in Mathematics and Computer Science
</div>
{% endif %}
<!--more-->
{% if site.active_lang == "fr" %}
<section class="all education">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <h2 class="title">
            Université de Montréal, Montréal, Canada
        </h2>
        <div class="date">
            2021-2024
        </div>
        <div class="diplomes">
            Diplôme : baccalauréat en mathématiques et informatique
        </div>
    </div>
    <div class="content">
        <div>
            <span class="title_section">Projets universitaires :</span>
            <ul>
                <li>
                    <a href='{{ site.url }}/experience/2022/05/01/garambullo.html'>
                        Projet Garambullo (été 2021 - hiver 2022, hiver 2023)
                    </a>
                </li>
                <li>
                    <a href='{{ site.url }}/experience/2022/10/20/blinx.html'>
                        Projet Blinx (été 2022 - automne 2022, mai 2023)
                    </a>
                </li>
                <li>
                    <a href='{{ site.url }}/experience/2023/08/18/McMaster.html'>
                        LSP pour P4 (été 2023)
                    </a>
                </li>
                <li>
                    <a href='{{ site.url }}/experience/2024/07/01/synesth.html'>
                        Projet Synesth (hiver 2024 - été 2024)
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <span class="title_section">Cours suivis :</span>
            <ul>
                <li>automne 2021 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-1015/">IFT1015</a> - Programmation 1, prof. Marc Feeley</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-1575/">IFT1575</a> - Modèles de recherche opérationnelle, prof. Jean-Yves Potvin</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-1065/">IFT1065</a> - Structures discrètes en informatique, prof. Margarida Da Silva Carvalho</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-1400/">MAT1400</a> - Calcul 1, prof. Robert Gwyn Owens</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-1600/">MAT1600</a> - Algèbre linéaire, prof. Véronique Hussin</li>
                    </ul>
                </li>
                <li>hiver 2022 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/STT-1700/">STT1700</a> - Introduction à la statistique, prof. Christian Léger</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-1410/">MAT1410</a> - Calcul 2, prof. Lara Simone Suarez Lopez</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-1215/">IFT1215</a> - Introduction aux systèmes informatiques, prof. Max Mignotte</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-1025/">IFT1025</a> - Programmation 2, prof. François Major/Arnaud L'Heureux</li>
                    </ul>
                </li>
                <li>automne 2022 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2015/">IFT2015</a> - Structures de données, prof. François Major</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-3295/">IFT3295</a> - Bio-informatique, prof. Nadia El-Mabrouk</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-1000/">MAT1000</a> - Analyse 1, prof. Marlène Frigon</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-1720/">MAT1720</a> - Probabilités, prof. Kamel Belbahri</li>
                    </ul>
                </li>
                <li>hiver 2023 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2105/">IFT2105</a> - Intro à informatique théorique, prof. Gena Hahn</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2125/">IFT2125</a> - Introduction à l'algorithmique, prof. Robin Milosz</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-3545/">IFT3545</a> - Graphes et réseaux, prof. Gena Hahn</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-2050/">MAT2050</a> - Analyse 2, prof. Alexander Fribergh</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/STT-2700/">STT2700</a> - Concepts et méthodes en statistique, prof. Martin Bilodeau</li>
                    </ul>
                </li>
                <li>automne 2023 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2035/">IFT2035</a> - Concepts langages de programmation, prof. Stefan Monnier</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-2412/">MAT2412</a> - Analyse numérique, prof. Kroumi Dhaker</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-2600/">MAT2600</a> - Algèbre 1, prof. Matilde N. Lalín</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-2717/">MAT2717</a> - Processus stochastiques, prof. François Perron</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/PHY-1972/">PHY1972</a> - Comprendre l'Univers, prof. Frédérique Baron</li>
                    </ul>
                </li>
                <li>hiver 2024 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-3335/">IFT3335</a> - Introduction à l'intelligence artificielle, prof. Jian-Yun Nie</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-3150/">IFT3150</a> - Projet d'informatique (Synesth), prof. Nadia El-Mabrouk</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2935/">IFT2935</a> - Bases de données, prof. Michel Boyer</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2905/">IFT2905</a> - Interfaces personne-machine, prof. Mikhail Bessmeltsev</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-2719/">MAT2719</a> - Marches et graphes aléatoires, prof. Alexander Fribergh</li>
                    </ul>
                </li>
                <li>été 2024 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2255/">IFT2255</a> - Génie logiciel, prof. Louis-Edouard Lafontant</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <span class="title_section">Bénévolat :</span>
            <ul>
                <li>
                    <!-- <a href="{{ site.url }}/awards/2022/11/23/DIRO.html"> -->
                        automne 2021 à hiver 2023 : j'ai été bénévole au café étudiant <a href="https://cafemathinfo.iro.umontreal.ca/">Tore et Fraction</a> (DIRO)
                    <!-- </a> -->
                </li>
                <li>
                    <!-- <a href="{{ site.url }}/awards/2022/11/23/DIRO.html"> -->
                        automne 2023 à hiver 2024 : j'ai pris plus de responsabilités au café étudiant, comme l'un de ses représentants
                    <!-- </a> -->
                </li>
            </ul>
        </div>
        <div>
            <span class="title_section">Distinctions :</span>
            <ul>
                <li>
                    <a href="{{ site.url }}/awards/2022/11/23/DIRO.html">
                        Bourse d'excellence du DIRO, Université de Montréal
                    </a>
                </li>
                <li>
                    Bourse de recherche pour le
                    <a href='{{ site.url }}/experience/2022/10/20/blinx.html'>
                        projet Blinx
                    </a>
                    , 
                    <a href="{{ site.url }}/awards/2022/08/31/BRPC.html">
                        la bourse BRPC
                    </a>
                </li>
                <li>
                    Complément à la bourse BRPC, pour le
                    <a href='{{ site.url }}/experience/2022/10/20/blinx.html'>
                        projet Blinx
                    </a>
                    , 
                    <a href="{{ site.url }}/awards/2022/08/31/FRQNT.html">
                        la bourse du FRQNT
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/awards/2022/05/01/OBVIA.html">
                        Bourse de recherche de l'OBVIA
                    </a>
                    pour le
                    <a href='{{ site.url }}/experience/2022/05/01/garambullo.html'>
                        projet Garambullo
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/awards/2023/05/01/BRPC.html">
                        la bourse BRPC, que j'ai refusée
                    </a>
                </li>
                <li>
                    Bourse de recherche pour la deuxième partie du
                    <a href='{{ site.url }}/experience/2022/10/20/blinx.html'>projet Blinx</a> :
                    <a href="{{ site.url }}/awards/2024/08/31/BRPC.html">la bourse BRPC</a> et
                    <a href="{{ site.url }}/awards/2024/08/31/FRQNT.html">son complément du FRQNT</a>
                </li>
                <li>
                    Bourse Perspective Québec, une par session :
                    <a href="{{ site.url }}/awards/2022/09/01/perspective-quebec.html">automne 2022</a>,
                    <a href="{{ site.url }}/awards/2023/01/09/perspective-quebec.html">hiver 2023</a>,
                    <a href="{{ site.url }}/awards/2023/09/01/perspective-quebec.html">automne 2023</a> et
                    <a href="{{ site.url }}/awards/2024/01/08/perspective-quebec.html">hiver 2024</a>
                </li>
                <li>
                    <a href="{{ site.url }}/awards/2022/01/15/bourse-excellence-mes.html">
                        Bourse d'excellence du ministère de l'Enseignement supérieur du Québec
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
{% else %}
<section class="all education">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <h2 class="title">
            Université de Montréal, Montréal, Canada
        </h2>
        <div class="date">
            2021-2024
        </div>
        <div class="diplomes">
            Diploma : Bachelor's degree in Mathematics and Computer Science
        </div>
    </div>
    <div class="content">
        <div>
            <span class="title_section">University project :</span>
            <ul>
                <li>
                    <a href='{{ site.url }}/experience/2022/05/01/garambullo.html'>
                        Garambullo Project (summer 2021 - winter 2022, winter 2023)
                    </a>
                </li>
                <li>
                    <a href='{{ site.url }}/experience/2022/10/20/blinx.html'>
                        Blinx Project (summer 2022 - fall 2022, may 2023)
                    </a>
                </li>
                <li>
                    <a href='{{ site.url }}/experience/2023/08/18/McMaster.html'>
                        P4 LSP (summer 2023)
                    </a>
                </li>
                <li>
                    <a href='{{ site.url }}/experience/2024/07/01/synesth.html'>
                        Synesth Project (winter 2024 - summer 2024)
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <span class="title_section">Course completed :</span>
            <ul>
                <li>fall 2021 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-1015/">IFT1015</a> - Programmation 1, Prof Marc Feeley</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-1575/">IFT1575</a> - Modèles de recherche opérationnelle, Prof Jean-Yves Potvin</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-1065/">IFT1065</a> - Structures discrètes en informatique, Prof Margarida Da Silva Carvalho</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-1400/">MAT1400</a> - Calcul 1, Prof Robert Gwyn Owens</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-1600/">MAT1600</a> - Algèbre linéaire, Prof Véronique Hussin</li>
                    </ul>
                </li>
                <li>winter 2022 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/STT-1700/">STT1700</a> - Introduction à la statistique, Prof Christian Léger</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-1410/">MAT1410</a> - Calcul 2, Prof Lara Simone Suarez Lopez</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-1215/">IFT1215</a> - Introduction aux systèmes informatiques, Prof Max Mignotte</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-1025/">IFT1025</a> - Programmation 2, Prof François Major/Arnaud L'Heureux</li>
                    </ul>
                </li>
                <li>fall 2022 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2015/">IFT2015</a> - Structures de données, Prof François Major</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-3295/">IFT3295</a> - Bio-informatique, Prof Nadia El-Mabrouk</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-1000/">MAT1000</a> - Analyse 1, Prof Marlène Frigon</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-1720/">MAT1720</a> - Probabilités, Prof Kamel Belbahri</li>
                    </ul>
                </li>
                <li>winter 2023 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2105/">IFT2105</a> - Intro à informatique théorique, Prof Gena Hahn</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2125/">IFT2125</a> - Introduction à l'algorithmique, Prof Robin Milosz</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-3545/">IFT3545</a> - Graphes et réseaux, Prof Gena Hahn</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-2050/">MAT2050</a> - Analyse 2, Prof Alexander Fribergh</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/STT-2700/">STT2700</a> - Concepts et méthodes en statistique, Prof Martin Bilodeau</li>
                    </ul>
                </li>
                <li>fall 2023 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2035/">IFT2035</a> - Concepts langages de programmation, Prof Stefan Monnier</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-2412/">MAT2412</a> - Analyse numérique, Prof Kroumi Dhaker</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-2600/">MAT2600</a> - Algèbre 1, Prof Matilde N. Lalín</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-2717/">MAT2717</a> - Processus stochastiques, Prof François Perron</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/PHY-1972/">PHY1972</a> - Comprendre l'Univers, Prof Frédérique Baron</li>
                    </ul>
                </li>
                <li>winter 2024 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-3335/">IFT3335</a> - Introduction à l'intelligence artificielle, Prof Jian-Yun Nie</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-3150/">IFT3150</a> - Projet d'informatique (Synesth), Prof Nadia El-Mabrouk</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2935/">IFT2935</a> - Bases de données, Prof Michel Boyer</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2905/">IFT2905</a> - Interfaces personne-machine, Prof Mikhail Bessmeltsev</li>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/MAT-2719/">MAT2719</a> - Marches et graphes aléatoires, Prof Alexander Fribergh</li>
                    </ul>
                </li>
                <li>summer 2024 :
                    <ul>
                        <li><a href="https://admission.umontreal.ca/cours-et-horaires/cours/IFT-2255/">IFT2255</a> - Génie logiciel, Prof Louis-Edouard Lafontant</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <span class="title_section">Volunteer work :</span>
            <ul>
                <li>
                    <!-- <a href="{{ site.url }}/awards/2022/11/23/DIRO.html"> -->
                        fall 2021 to winter 2023 : I volunteered at the student café <a href="https://cafemathinfo.iro.umontreal.ca/">Tore et Fraction</a> (DIRO)
                    <!-- </a> -->
                </li>
                <li>
                    <!-- <a href="{{ site.url }}/awards/2022/11/23/DIRO.html"> -->
                        fall 2023 to winter 2024 : I took on more responsibility at the student café, as one of its representatives
                    <!-- </a> -->
                </li>
            </ul>
        </div>
        <div>
            <span class="title_section">Awards :</span>
            <ul>
                <li>
                    <a href="{{ site.url }}/awards/2022/11/23/DIRO.html">
                        Excellence Scholarship from DIRO, Université de Montréal
                    </a>
                </li>
                <li>
                    Research grant for the
                    <a href='{{ site.url }}/experience/2022/10/20/blinx.html'>
                        Blinx Project
                    </a>
                    , 
                    <a href="{{ site.url }}/awards/2022/08/31/BRPC.html">
                        the USRA grant
                    </a>
                </li>
                <li>
                    Complement to the USRA grant, for the
                    <a href='{{ site.url }}/experience/2022/10/20/blinx.html'>
                        Blinx Project
                    </a>
                    , 
                    <a href="{{ site.url }}/awards/2022/08/31/FRQNT.html">
                        the FRQNT grant
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/awards/2022/05/01/OBVIA.html">
                        OBVIA research grant
                    </a>
                    for the
                    <a href='{{ site.url }}/experience/2022/05/01/garambullo.html'>
                        Garambullo Project
                    </a>
                </li>
                <li>
                    <a href="{{ site.url }}/awards/2023/05/01/BRPC.html">
                        the USRA grant, that I have declined
                    </a>
                </li>
                <li>
                    Research grant for the second part of the
                    <a href='{{ site.url }}/experience/2022/10/20/blinx.html'>Blinx Project</a> :
                    <a href="{{ site.url }}/awards/2024/08/31/BRPC.html">the USRA grant</a> and
                    <a href="{{ site.url }}/awards/2024/08/31/FRQNT.html">its FRQNT complement</a>
                </li>
                <li>
                    Perspective Québec scholarship, one per session :
                    <a href="{{ site.url }}/awards/2022/09/01/perspective-quebec.html">fall 2022</a>,
                    <a href="{{ site.url }}/awards/2023/01/09/perspective-quebec.html">winter 2023</a>,
                    <a href="{{ site.url }}/awards/2023/09/01/perspective-quebec.html">fall 2023</a> and
                    <a href="{{ site.url }}/awards/2024/01/08/perspective-quebec.html">winter 2024</a>
                </li>
                <li>
                    <a href="{{ site.url }}/awards/2022/01/15/bourse-excellence-mes.html">
                        Excellence scholarship of the ministère de l'Enseignement supérieur du Québec
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endif %}
