---
layout: post
title:  "AI training course"
title_fr:  "Formation en intelligence artificielle"
image: "/assets/images/logos/logo-IGEE.jpg"
imageAlt: "IA internship"
datePost: "2020-08-24;2020-08-25"
excerpt_separator: <!--more-->
socialActivate: true
---
{% if site.active_lang == "fr" %}
<div class="resume">
    Formation de deux jours offerte par l'Institut en Génie de
    l'Énergie Électrique.
</div>
{% else %}
<div class="resume">
    Course offered by the Institut en Génie de
    l'Énergie Électrique, which lasted 2 days.
</div>
{% endif %}
<!--more-->
{% if site.active_lang == "fr" %}
<section class="all experience">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            Formation en intelligence artificielle
        </div>
        <div class="date">
            24 - 25 août 2020
        </div>
    </div>
    <div class="content">
        Formation de deux jours offerte par l'Institut en Génie de
        l'Énergie Électrique.
        <br>
        Nous y avons été initiés à l'intelligence artificielle
        dans l'industrie électrique.<br>
        <a href='{{ site.url }}/assets/doc/attestation_formation_IGEE_MaelC.pdf'
          rel='noreferrer noopener'>
            (attestation de formation)
        </a>
    </div>
</section>
{% else %}
<section class="all experience">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            AI training course
        </div>
        <div class="date">
            24 - 25 August 2020
        </div>
    </div>
    <div class="content">
        Course offered by the Institut en Génie de
        l'Énergie Électrique, which lasted 2 days.
        <br>
        We were introduced to artificial intelligence
        in the electrical industry.<br>
        <a href='{{ site.url }}/assets/doc/attestation_formation_IGEE_MaelC.pdf'
          rel='noreferrer noopener'>
            (training certificate)
        </a>
    </div>
</section>
{% endif %}
