---
layout: post
title:  "Blinx Project"
title_fr:  "Projet Blinx"
image: "/assets/images/logos/logo-codeboot.png"
imageAlt: "Blinx Project"
datePost: "2022-05-01;2022-12-20,2023-05-01;2023-05-20,2024-05-01;2024-08-31"
excerpt_separator: <!--more-->
socialActivate: true
---
{% if site.active_lang == "fr" %}
<div class="resume">
    Intégration de microcontrôleurs au projet CodeBoot.
</div>
{% else %}
<div class="resume">
    Microcontroller integration in the CodeBoot project.
</div>
{% endif %}
<!--more-->
{% if site.active_lang == "fr" %}
<section class="all experience">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            <a href="https://codeboot.org/">
                Projet Blinx
            </a>
        </div>
        <div class="date">
            mai 2022 - décembre 2022,<br>
            mai 2023,<br>
            mai 2024 - août 2024
        </div>
    </div>
    <div class="content">
        Le projet Blinx complète le <a href="https://codeboot.org/">
            projet CodeBoot
        </a>.<br>
        Le but du projet CodeBoot est de créer une application web
        qui permet de programmer, surtout en Python,
        depuis un navigateur, sans rien installer côté client.<br>
        Le projet Blinx, c'est l'intégration de microcontrôleurs à cette
        application web, grâce à l'<a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Serial_API">
            API Web Serial
        </a> disponible sur Google Chrome (ainsi que sur Edge, Opera et les navigateurs basés sur Chromium).<br>
        L'objectif est de pouvoir contrôler un microcontrôleur (le Blinx) depuis
        l'application web CodeBoot.<br>
        Le projet est né avec la « réforme scolaire » au cégep, où la programmation
        devient obligatoire.<br>
        Mon superviseur voulait proposer CodeBoot aux cégeps comme outil d'apprentissage.
        Et Blinx est venu élargir les possibilités, en particulier pour les projets demandés.
        <br>
        Pendant l'été 2024, avec une deuxième
        <a href="{{ site.url }}/awards/2024/08/31/BRPC.html">bourse BRPC</a>, j'ai développé une deuxième version de
        Blinx qui tient compte des problèmes rencontrés par les utilisateurs de la première, ce qui en a
        entièrement changé les fondations.<br>
        J'ai été supervisé par <a href="https://diro.umontreal.ca/repertoire-departement/professeurs/professeur/in/in14344/sg/Marc%20Feeley/">Marc Feeley</a>, professeur à l'UdeM.<br>
        Le code de CodeBoot est sur GitHub, sur <a href="https://github.com/feeley/codeboot">le compte de Marc Feeley</a>
        et dans <a href="https://github.com/codeboot-org">l'organisation codeBoot</a>.<br>
        Langages utilisés pendant le stage :
        <ul class="lang">
            <li>Python</li>
            <li>C++</li>
        </ul>
    </div>
</section>
{% else %}
<section class="all experience">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            <a href="https://codeboot.org/">
                Blinx Project
            </a>
        </div>
        <div class="date">
            May 2022 - December 2022,<br>
            May 2023,<br>
            May 2024 - August 2024
        </div>
    </div>
    <div class="content">
        The blinx project complements the <a href="https://codeboot.org/">
            CodeBoot project
        </a>.<br>
        The aim of the CodeBoot Project is to create a web application
        that lets you do programming, especially Python,
        from a browser, without any client-side installation.<br>
        The blinx project is the integration of microcontrollers into the
        web application.
        Thanks to the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Serial_API">
            web serial api
        </a> available on Google Chrome (as well as on Edge, Opera, chromium base browser).<br>
        The aim is to be able to control a microcontroller (the blinx) from the
        codeboot web application.<br>
        The project saw the light of day with the "school reform" at CEGEP, where programming
        become a requirement.<br>
        My supervisor wanted to offer CodeBoot to CEGEP as a learning tool.
        And Blinx, came as an extension of the possibilities, especially for the project required.
        <br>
        During the summer of 2024, with a second
        <a href="{{ site.url }}/awards/2024/08/31/BRPC.html">USRA grant</a>, I developed a second version of
        Blinx that takes into account the problems the users had met with the first one, which changed its
        foundations entirely.<br>
        I was supervised by <a href="https://diro.umontreal.ca/repertoire-departement/professeurs/professeur/in/in14344/sg/Marc%20Feeley/">Marc Feeley</a>, professor at UdeM.<br>
        The code of CodeBoot is on GitHub, on <a href="https://github.com/feeley/codeboot">Marc Feeley's account</a>
        and in the <a href="https://github.com/codeboot-org">codeBoot organisation</a>.<br>
        Languages used during the course :
        <ul class="lang">
            <li>Python</li>
            <li>C++</li>
        </ul>
    </div>
</section>
{% endif %}
