---
layout: post
title:  "School Success Award"
title_fr:  "Prix de réussite scolaire"
image: "/assets/images/logos/logo-stan.jpeg"
imageAlt: "School Success Award"
datePost: "2020-05-10"
excerpt_separator: <!--more-->
socialActivate: true
---
{% if site.active_lang == "fr" %}
<div class="resume">
    Prix de réussite scolaire, Collège Stanislas
</div>
{% else %}
<div class="resume">
    School Success Award, Collège Stanislas
</div>
{% endif %}
<!--more-->
{% if site.active_lang == "fr" %}
<section class="all prix">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            <a href='https://www.youtube.com/watch?v=LuLqZK97_lI'>
                Prix de réussite scolaire, du Collège Stanislas
            </a>
        </div>
        <div class="date">
            2020
        </div>
    </div>
    <div class="content">
        Décerné par le Collège Stanislas pour mes résultats scolaires.
    </div>
</section>
{% else %}
<section class="all prix">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            <a href='https://www.youtube.com/watch?v=LuLqZK97_lI'>
                School Success Award, from Collège Stanislas
            </a>
        </div>
        <div class="date">
            2020
        </div>
    </div>
    <div class="content">
        Awarded by the Collège Stanislas for my school results.
    </div>
</section>
{% endif %}
