---
layout: post
title:  "Excellence scholarship of the ministère de l'Enseignement supérieur"
title_fr:  "Bourse d'excellence du ministère de l'Enseignement supérieur"
image: "/assets/images/logos/logo-mes.svg"
imageAlt: "Ministère de l'Enseignement supérieur du Québec"
datePost: "2022-01-15"
excerpt_separator: <!--more-->
socialActivate: true
---
{% if site.active_lang == "fr" %}
<div class="resume">
    Bourse d'excellence, 1 000 CAD.
</div>
{% else %}
<div class="resume">
    Excellence scholarship, 1 000 CAD.
</div>
{% endif %}
<!--more-->
{% if site.active_lang == "fr" %}
<section class="all prix">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            <a href="https://www.quebec.ca/nouvelles/actualites/details/perseverance-scolaire-en-enseignement-superieur-25-m-de-bourses-dexcellence-pour-encourager-la-diplomation-dans-les-domaines-davenir">Bourse d'excellence</a>
            du ministère de l'Enseignement supérieur du Québec, pour les programmes
            en sciences de l'informatique, en génie informatique, en construction des ordinateurs et en génie
            électrique, électronique et des communications
        </div>
        <div class="date">
            2022
        </div>
    </div>
    <div class="content">
        Bourse d'excellence de 1 000 CAD, reçue pendant la première année de mon
        <a href='{{ site.url }}/education/2022/10/01/education-udem.html'>baccalauréat</a>.
    </div>
</section>
{% else %}
<section class="all prix">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            <a href="https://www.quebec.ca/nouvelles/actualites/details/perseverance-scolaire-en-enseignement-superieur-25-m-de-bourses-dexcellence-pour-encourager-la-diplomation-dans-les-domaines-davenir">Excellence scholarship</a>
            of the ministère de l'Enseignement supérieur du Québec, for the programmes
            in computer science, computer engineering, computer construction and electrical, electronic and
            communications engineering
        </div>
        <div class="date">
            2022
        </div>
    </div>
    <div class="content">
        Excellence scholarship of 1 000 CAD, received during the first year of my
        <a href='{{ site.url }}/education/2022/10/01/education-udem.html'>bachelor's degree</a>.
    </div>
</section>
{% endif %}
