---
layout: post
title:  "FRQNT grant"
title_fr:  "Bourse du FRQNT"
image: "/assets/images/logos/logo-frqnt.png"
imageAlt: "FRQNT grant"
datePost: "2022-05-01;2022-08-31"
excerpt_separator: <!--more-->
socialActivate: true
---
{% if site.active_lang == "fr" %}
<div class="resume">
    Pour le <a href='{{ site.url }}/experience/2022/10/20/blinx.html'>
    projet Blinx</a>.
</div>
{% else %}
<div class="resume">
    For the <a href='{{ site.url }}/experience/2022/10/20/blinx.html'>
    Blinx project</a>.
</div>
{% endif %}
<!--more-->
{% if site.active_lang == "fr" %}
<section class="all prix">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            Complément à la <a href="{{ site.url }}/awards/2022/08/31/BRPC.html">
                bourse de recherche de 1er cycle (BRPC) du CRSNG.
            </a>
            Le
            <a href='https://frq.gouv.qc.ca/programme/supplements-aux-bourses-de-1er-cycle-en-milieu-academique-du-crsng-brpc-bpca-2020-2021/'>
                FRQNT.
            </a>
        </div>
        <div class="date">
            été 2022
        </div>
    </div>
    <div class="content">
        Complément à la
        <a href="{{ site.url }}/awards/2022/08/31/BRPC.html">
            BRPC/USRA
        </a>
        Pour le <a href='{{ site.url }}/experience/2022/10/20/blinx.html'>
        projet Blinx</a>.
    </div>
</section>
{% else %}
<section class="all prix">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            Complement to the <a href="{{ site.url }}/awards/2022/08/31/BRPC.html">
                Undergraduate Student Research Awards (USRA) from CRSNG.
            </a>
            The
            <a href='https://frq.gouv.qc.ca/programme/supplements-aux-bourses-de-1er-cycle-en-milieu-academique-du-crsng-brpc-bpca-2020-2021/'>
                FRQNT.
            </a>
        </div>
        <div class="date">
            summer 2022
        </div>
    </div>
    <div class="content">
        Complement to the
        <a href="{{ site.url }}/awards/2022/08/31/BRPC.html">
            USRA/BRPC
        </a>
        For the <a href='{{ site.url }}/experience/2022/10/20/blinx.html'>
        Blinx project</a>.
    </div>
</section>
{% endif %}
