---
layout: post
title:  "USRA grant"
title_fr:  "Bourse BRPC"
image: "/assets/images/logos/logo-brpc.png"
imageAlt: "USRA grant"
datePost: "2023-05-01"
excerpt_separator: <!--more-->
socialActivate: true
---
{% if site.active_lang == "fr" %}
<div class="resume">
    Bourse refusée.
</div>
{% else %}
<div class="resume">
    Grant declined.
</div>
{% endif %}
<!--more-->
{% if site.active_lang == "fr" %}
<section class="all prix">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            <a href='https://nserc-crsng.canada.ca/fr/possibilite-de-financement/bourses-de-recherche-de-1er-cycle'>
                Bourses de recherche de 1er cycle (BRPC) / Undergraduate Student Research Awards (USRA), du CRSNG.
            </a>
        </div>
        <div class="date">
            été 2023
        </div>
    </div>
    <div class="content">
        Bourse de recherche pour l'été 2023, que j'ai refusée pour faire mon stage à
        <a href='{{ site.url }}/experience/2023/08/18/McMaster.html'>
            McMaster
        </a>.
    </div>
</section>
{% else %}
<section class="all prix">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            <a href='https://nserc-crsng.canada.ca/fr/possibilite-de-financement/bourses-de-recherche-de-1er-cycle'>
                Undergraduate Student Research Awards (USRA) / Bourses de recherche de 1er cycle (BRPC), from CRSNG.
            </a>
        </div>
        <div class="date">
            summer 2023
        </div>
    </div>
    <div class="content">
        Research grant for summer 2023, which I declined to do my internship at
        <a href='{{ site.url }}/experience/2023/08/18/McMaster.html'>
            McMaster
        </a>.
    </div>
</section>
{% endif %}
