---
layout: post
title:  "Perspective Québec scholarship - fall 2023"
title_fr:  "Bourse Perspective Québec - automne 2023"
image: "/assets/images/logos/logo-mes.svg"
imageAlt: "Ministère de l'Enseignement supérieur du Québec"
datePost: "2023-09-01;2023-12-20"
excerpt_separator: <!--more-->
socialActivate: true
---
{% if site.active_lang == "fr" %}
<div class="resume">
    2 500 CAD, automne 2023.
</div>
{% else %}
<div class="resume">
    2 500 CAD, fall 2023.
</div>
{% endif %}
<!--more-->
{% if site.active_lang == "fr" %}
<section class="all prix">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            <a href="https://www.quebec.ca/education/aide-financiere-aux-etudes/bourses-perspective">
                Bourse Perspective Québec</a> du gouvernement du Québec
        </div>
        <div class="date">
            automne 2023
        </div>
    </div>
    <div class="content">
        Bourse de 2 500 CAD pour la session d'automne 2023 de mon
        <a href='{{ site.url }}/education/2022/10/01/education-udem.html'>baccalauréat</a>.
    </div>
</section>
{% else %}
<section class="all prix">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            <a href="https://www.quebec.ca/en/education/student-financial-assistance/quebec-perspective-scholarship">
                Bourse Perspective Québec</a> of the gouvernement du Québec
        </div>
        <div class="date">
            fall 2023
        </div>
    </div>
    <div class="content">
        Scholarship of 2 500 CAD for the fall 2023 session of my
        <a href='{{ site.url }}/education/2022/10/01/education-udem.html'>bachelor's degree</a>.
    </div>
</section>
{% endif %}
