---
layout: post
title:  "FRQNT master's scholarship"
title_fr:  "Bourse de maîtrise du FRQNT"
image: "/assets/images/logos/logo-frqnt.png"
imageAlt: "FRQNT"
datePost: "2025-05-01;2026-08-31"
excerpt_separator: <!--more-->
socialActivate: true
---
{% if site.active_lang == "fr" %}
<div class="resume">
    Pour ma recherche de maîtrise.
</div>
{% else %}
<div class="resume">
    For my master's research.
</div>
{% endif %}
<!--more-->
{% if site.active_lang == "fr" %}
<section class="all prix">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            <a href="https://frq.gouv.qc.ca/programme/bourses-de-maitrise-en-recherche-2027-2028-b1-volet-regulier-et-volet-reintegration-a-la-recherche/">Bourse de maîtrise en recherche</a>
            du Fonds de recherche du Québec - Nature et technologies (FRQNT)
        </div>
        <div class="date">
            été 2025 - été 2026
        </div>
    </div>
    <div class="content">
        Bourse de recherche pour ma <a href='{{ site.url }}/education/2024/09/01/education-udem-maitrise.html'>maîtrise</a>, pour quatre sessions,
        pour un total de 26 667 CAD.
    </div>
</section>
{% else %}
<section class="all prix">
    <div class="header">
        <img class="logo" alt="{{ page.imageAlt }}" src="{{ page.image }}"/>
        <div class="title">
            <a href="https://frq.gouv.qc.ca/programme/bourses-de-maitrise-en-recherche-2027-2028-b1-volet-regulier-et-volet-reintegration-a-la-recherche/">Master's research scholarship</a>
            of the Fonds de recherche du Québec - Nature et technologies (FRQNT)
        </div>
        <div class="date">
            summer 2025 - summer 2026
        </div>
    </div>
    <div class="content">
        Research scholarship for my <a href='{{ site.url }}/education/2024/09/01/education-udem-maitrise.html'>master's</a>, for four sessions,
        for a total of 26 667 CAD.
    </div>
</section>
{% endif %}
